channel { 
      width:  96%; 
} 
 name {
     float : left;
     font-size : 48px;
     font-weight : 700;
     line-height : 54px;
}
 title {
     float : left;
     color : #1756a9; 
     font-size : 24px;
     line-height : 54px;
     font-weight: 300;
}  
/*  item {
       display : inline;
} */
 description {
     font-size: 20px;
}
 pubDate {
     float : right;
     font-size : 24;
     line-height : 54px;
/*  title { 
     font-size : 25px; 
     font-weight : 700; 
} */
/*  guid {
     font-size : 24px;
} */
 
