name { 
     color: #424242;
     font-size : 54px;
     font-weight : 700;
} 
 title { 
     color: #1756a9; 
     font-size : 40px; 
     background-color : powderblue; 
} 
 item, description { 
     display : block;
     font-size : 24;
     font-weight : 300;
} 

guid {
     color: #1756a9;
}
